/* custom css */
* {
    border-radius: 0 !important;
}

.nav-pills .nav-link.active {
	background-color: #00bfd8;
}

.bold_text:hover {
    font-weight: 600;
}

.bold_text_default {
    font-weight: 600;
}
