/* .mainHeader {
    height: 25vh;
    background-color: aqua;
}

.menuWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu>ul {
    display: flex;
}

.menu>ul li {
    margin-right: 5px;
    cursor: pointer;
}

.logo {
    width: 15px;
    height: 15px;
    margin-right: 5px;
} */

.healthHeader {
    padding: 10px 5px;
    background-color: blue;
    color: white;
}

.table {
    margin-bottom: 5%;
    border: 3px ridge lightskyblue;
    background: #FFFAFA;
    width: 100%;
}

/* .sidesWrapper {
    display: flex;
    justify-content: space-around;
} */

.routeButton {
    padding: 5px 20px;
    background-color: aqua;
    color: white;
    cursor: pointer;
}

.prediction {
    margin-right: 50px;
}

.explanationsButton {
    background-color: yellow;
    color: grey;
    padding: 5px 40px;
    margin-left: 100px;
}

.patientsTable {
    margin-top: 18px;
    max-width: 90vw;
    width: 85vh;
}

.patientsTable>thead {
    background-color: rgb(228, 227, 155);
    border: 3px solid yellow;
}

.bckcoloroption {
    background-color: #FFF5EE;
}

.ex-header-top-main {
    padding: 15px;
    text-align: left;
    font-family: 'serif';
    width: 100%;
    color: #FFF5EE;
    font-style: normal;
    font-size: 250%;
    padding-top: 2.4rem;
    padding-bottom: 1rem;
    /* margin-top: 150px; */
    background: -webkit-linear-gradient(top, #a5e7e7, #00BFFF);
}

.centerDiv {~
    display: block;
    width: 35vh;
    margin-top: 38px;
    margin-left: 35px;
}

/* .table .leftDiv .centerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

} */

.leftDiv  {
    width: 100px;
}

.rightDiv {
    width: 120vh;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    margin-right: 1000px;
}

.frame{
    float:left;
    width: 50%;
}

.div-style-font{
font-family: 'arial';
font-weight: 600;
}
