{% extends "base.html" %} {% block links %}
<link href="/static/css/style_slide.css" rel="stylesheet" />
{% endblock %} {% block content %}
<!-- Header -->
<div id="header" class="ex-header"></div>

<!-- <div id="header" class="container ex-header" style="margin-bottom: 5%;"> -->
<div class="container" style="margin-bottom: 5%;">
  <div class="row">
    <div class="col-lg-6">
      <div class="tab" role="tabpanel" style="width: 767.2px;">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#General" aria-controls="home" role="tab" data-toggle="tab"
              >General</a
            >
          </li>
          <li role="presentation">
            <a
              href="#Healthcare"
              aria-controls="profile"
              role="tab"
              data-toggle="tab"
              >Healthcare</a
            >
          </li>
          <li role="presentation">
            <a
              href="#Financial"
              aria-controls="messages"
              role="tab"
              data-toggle="tab"
              >Financial</a
            >
          </li>
          <li role="presentation">
            <a
              href="#Education"
              aria-controls="messages"
              role="tab"
              data-toggle="tab"
              >Education</a
            >
          </li>
          <li role="presentation">
            <a
              href="#Manufacturing"
              aria-controls="messages"
              role="tab"
              data-toggle="tab"
              >Manufacturing</a
            >
          </li>
          <li role="presentation">
            <a
              href="#Legal"
              aria-controls="messages"
              role="tab"
              data-toggle="tab"
              >Legal</a
            >
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tabs" , style="height: 400px;">
          <div
            role="tabpanel"
            class="tab-pane fade in active show"
            id="General"
          >
            <h3 style="margin-top: 10px;">
              Please enter required information:
            </h3>
            <table
              class="table table-hover table-borderless"
              style="margin-top: 10px; margin-left: 5%;"
            >
              <tr>
                <td>
                  <p>Type of application subdomain:</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Dropdown
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Background Dataset File (.csv)</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Search File System
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Model Type</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Dropdown
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Explainer File (.csv)</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Search File System
                  </button>
                </td>
              </tr>
            </table>
            <button
              class="btn btn-primary"
              style="margin-left: 70%; width: 200px;"
            >
              Next
            </button>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Healthcare">
            <h3 style="margin-top: 10px;">
              Please enter required information:
            </h3>
            <table
              class="table table-hover table-borderless"
              style="margin-top: 10px; margin-left: 5%;"
            >
              <tr>
                <td>
                  <p>Type of application subdomain:</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Dropdown
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Background Dataset File (.csv)</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Search File System
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Model Type</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Dropdown
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Explainer File (.csv)</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Search File System
                  </button>
                </td>
              </tr>
            </table>
            <button
              class="btn btn-primary"
              style="margin-left: 70%; width: 200px;"
            >
              Next
            </button>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Financial">
            <h3 style="margin-top: 10px;">
              Please enter required information:
            </h3>
            <table
              class="table table-hover table-borderless"
              style="margin-top: 10px; margin-left: 5%;"
            >
              <tr>
                <td>
                  <p>Type of application subdomain:</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Dropdown
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Background Dataset File (.csv)</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Search File System
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Model Type</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Dropdown
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Explainer File (.csv)</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Search File System
                  </button>
                </td>
              </tr>
            </table>
            <button
              class="btn btn-primary"
              style="margin-left: 70%; width: 200px;"
            >
              Next
            </button>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Education">
            <h3 style="margin-top: 10px;">
              Please enter required information:
            </h3>
            <table
              class="table table-hover table-borderless"
              style="margin-top: 10px; margin-left: 5%;"
            >
              <tr>
                <td>
                  <p>Type of application subdomain:</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Dropdown
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Background Dataset File (.csv)</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Search File System
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Model Type</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Dropdown
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Explainer File (.csv)</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Search File System
                  </button>
                </td>
              </tr>
            </table>
            <button
              class="btn btn-primary"
              style="margin-left: 70%; width: 200px;"
            >
              Next
            </button>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Manufacturing">
            <h3 style="margin-top: 10px;">
              Please enter required information:
            </h3>
            <table
              class="table table-hover table-borderless"
              style="margin-top: 10px; margin-left: 5%;"
            >
              <tr>
                <td>
                  <p>Type of application subdomain:</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Dropdown
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Background Dataset File (.csv)</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Search File System
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Model Type</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Dropdown
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Explainer File (.csv)</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Search File System
                  </button>
                </td>
              </tr>
            </table>
            <button
              class="btn btn-primary"
              style="margin-left: 70%; width: 200px;"
            >
              Next
            </button>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Legal">
            <h3 style="margin-top: 10px;">
              Please enter required information:
            </h3>
            <table
              class="table table-hover table-borderless"
              style="margin-top: 10px; margin-left: 5%;"
            >
              <tr>
                <td>
                  <p>Type of application subdomain:</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Dropdown
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Background Dataset File (.csv)</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Search File System
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Model Type</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Dropdown
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Select Explainer File (.csv)</p>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    style="width: 200px; background: #999898;"
                  >
                    Search File System
                  </button>
                </td>
              </tr>
            </table>
            <button
              class="btn btn-primary"
              style="margin-left: 70%; width: 200px;"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% block scripts %}
<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-1.12.0.min.js"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
  crossorigin="anonymous"
></script>
{% endblock %} {% endblock %}
