{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/css/explanations_per_patient.css">
{% endblock %}

{% block content %}
<style>
.table {
  margin-bottom: 5%;
  border: 3px ridge lightskyblue;
  background: #FFFAFA;
  width: 100%;
}

/* .sidesWrapper {
    display: flex;
    justify-content: space-around;
} */

.routeButton {
  padding: 5px 20px;
  background-color: aqua;
  color: white;
  cursor: pointer;
}

.prediction {
  margin-right: 50px;
}

.explanationsButton {
  background-color: yellow;
  color: grey;
  padding: 5px 40px;
  margin-left: 100px;
}

.patientsTable {
  margin-top: 18px;
  max-width: 90vw;
  width: 85vh;
}

.patientsTable>thead {
  background-color: rgb(228, 227, 155);
  border: 3px solid rgb(248, 248, 169);
}

.bckcoloroption {
  background-color: #FFF5EE;
}

.ex-header-top-main {
  padding: 15px;
  text-align: left;
  font-family: 'serif';
  width: 100%;
  color: #FFF5EE;
  font-style: normal;
  font-size: 250%;
  padding-top: 2.4rem;
  padding-bottom: 1rem;
  /* margin-top: 150px; */
  background: -webkit-linear-gradient(top, #a5e7e7, #00BFFF);
}

.centerDiv {
  display: block;
  max-width: 70vh;
  width: 60vh;
  margin-top: 35px;
  margin-left: 50px;
}

/* .table .leftDiv .centerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

} */

.leftDiv  {
  max-width: 70vh;
  width: 65vh;
  margin-top: 7px;
}

.rightDiv {
  max-width: 100vh;
  width: 95vh;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  margin-right: 60px;
  margin-left: 40px;
}

.rightDivExp2 {
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  width: 90vh;
}

.frame{
  float:left;
  width: 50%;
}

.div-style-font{
  font-size: 110%;
  font-family: 'arial';
  font-weight: 600;
}

.squareBtn{
  height: 20px;
  width: 20px;
  background-color: #00BFFF;
}

.sidesWrapper {
  display: flex;
  justify-content: space-between;
}

.td_patient-value {
  font-size: 110%;
  width: 30%;
  text-align: center;
}

</style>
<!-- Header -->
<div class="ex-header-top-main bck" title='Healthcare - {{ form.subdomain.name }} Diagnosis'>
  Healthcare - {{ form.subdomain.name }} Diagnosis
</div>
<!-- Flash Messages BEGIN -->
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismisible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<!-- Flash Messages END -->
<form class="form" role="form" action="{{ url_for('demo.explanations_per_patient', case_id=form.case_id) }}"
  method="post">
  <main>
    <div style="width: 100%;">
      <section class="table">
        <div class="sidesWrapper">
          <div class="leftDiv">
            <div style="padding: 18px 0px 20px 20px; margin-top: 10px;">
              <div style="width: 330px;"><h5 style="font-size: 115%;"> How to view Contributions of Features </h5></div>
              <div style="height: 15px;"> </div>
              <div><h5 style="font-size: 115%;"> Proportional to the</h5></div>
              <div style="margin-bottom: 170px; width: 71%; background: url(http://wpandyou.ru/wp-content/uploads/2013/01/down_arrow_select.jpg) no-repeat right #DDD;">
                <select class="form-control" id="presentation_type" name="presentation_type"
                  style="width: 135%;" onchange="this.form.submit()">
                  {% if form.presentation_type == "Proportional to the Category Score" %}
                  <option class="bckcoloroption" selected value="Proportional to the Category Score">Category Score</option>
                  <option class="bckcoloroption" value="Proportional to the Total Confidence Score">Total Confidence Score</option>
                  {% else %}
                  <option class="bckcoloroption" value="Proportional to the Category Score">Category Score</option>
                  <option class="bckcoloroption" selected value="Proportional to the Total Confidence Score">Total Confidence Score</option>
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
          <div class="centerDiv div-style-font">
            <div>
              <table style="text-align: left; width: 100%;">
                <tr> <td>Patient ID:</td> <td class="td_patient-value">{{form.case_id}}</td> </tr>
                <tr> <td>Age:</td> <td class="td_patient-value">{{form.age}}</td> </tr>
                <tr> <td>Diabetes Predicted:</td> <td class="td_patient-value">{{form.predicted}}</td> </tr>
                <tr> <td>Prediction or Confidence Score &nbsp;&nbsp; (Out of 100):</td>
                <td style="text-align: center;">
                  <font style="color:brown; font-size: 130%;"> {{form.prediction_score}}</font>
                </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="rightDiv">
            <h5 style="font-weight: 600;">View Explanations (Per Patient)</h5>
            <table class="patientsTable">
              <thead style="text-align: center;">
                {% for table_head in form.table_heads %}
                <th>
                  {% if check_is_list(table_head) %}
                  {{table_head[0]}} <div style="color:brown;">({{table_head[1]}}%)</div>
                  {% else %}
                  {{table_head}}
                  {% endif %}
                </th>
                {% endfor %}
              </thead>
              <tbody style="background-color: rgb(248, 212, 184); color: floralwhite; text-align: center; color: black;">
                {% for table_row in form.table_rows %}
                <tr>
                  {% for index in table_row %}
                  {% for value in index %}
                  <td>
                    {% if "{}".format(value).isnumeric() %}
                    {% for _ in range(value)%}
                    <button class="squareBtn"></button>
                    {% endfor %}
                    {% else %}
                    {{value}}
                    {% endif %}
                  </td>
                  {% endfor %}
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div style="display: flex; justify-content: space-between;"></div>
        <div style="margin-top: 10px; margin-bottom: 10px; margin-left: 15px; padding: 12px;"><a
            class="btn-solid-lg page-scroll" href="{{ url_for('demo.explanations_summary') }}"
            style='font-size: 150%;'>Go
            Back</a>
        </div>
    </div>
    </section>
    </div>
  </main>
  {{ form.all_case_values_query_for_patient }}
</form>

<!-- background: -webkit-linear-gradient(top, #a5e7e7, #00BFFF); -->

{% endblock %}

{% block scripts %}
{% endblock %}
