{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
<!-- Header -->
<style>
    .mainHeader {
        height: 25vh;
        background-color: aqua;
    }

    .menuWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;
    }

    .menu {
        display: flex;
        align-items: center;
    }

    .menu>ul {
        display: flex;
    }

    .menu>ul li {
        margin-right: 5px;
        cursor: pointer;
    }

    .logo {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    .healthHeader {
        padding: 10px 5px;
        background-color: blue;
        color: white;
    }

    .table {
        margin-bottom: 5%;
        border: 3px ridge lightskyblue;
        background: #FFFAFA;
        width: 100%;
    }

    .sidesWrapper {
        display: flex;
        justify-content: space-between;
    }

    .routeButton {
        padding: 5px 20px;
        background-color: aqua;
        color: white;
        cursor: pointer;
    }

    .prediction {
        margin-right: 50px;
    }

    .explanationsButton {
        background-color: yellow;
        color: grey;
        padding: 5px 40px;
        margin-left: 100px;
    }

    .patientsTable {
        margin-top: 18px;
        max-width: 70vw;
        width: 56vh;
    }

    .patientsTable>thead {
        background-color: rgb(228, 227, 155);
        border: 3px solid yellow;
    }

    .bckcoloroption {
        background-color: #FFF5EE;
    }

    .ex-header-top-main {
        padding: 15px;
        text-align: left;
        font-family: 'serif';
        width: 100%;
        color: #FFF5EE;
        font-style: normal;
        font-size: 250%;
        padding-top: 2.4rem;
        padding-bottom: 1rem;
        background: -webkit-linear-gradient(top, #a5e7e7, #00BFFF);
    }

    .centerDiv {
        display: block;
        width: 35vh;
        margin-top: 38px;
        margin-left: 55px;
    }

    .table .leftDiv .centerDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .leftDiv  {
        width: 30vh;
    }

    .rightDiv {
        width: 65vh;
        text-align: left;
        padding: 20px;
    }

    .frame{
        float:left;
        width: 50%;
    }

    .div-style-font{
    font-family: 'arial';
    font-weight: 600;
    }

</style>


<div class="ex-header-top-main bck" title='Healthcare – {{ form.subdomain.name }} Diagnosis'>
    Healthcare – {{ form.subdomain.name }} Diagnosis
</div>
<!-- Flash Messages BEGIN -->
<div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismisible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
</div>
<!-- Flash Messages END -->
<form class="form" role="form" action="{{ url_for('demo.explanations_per_patient', case_id=form.case_id) }}" method="post">
<main>
    <div style="width: 100%;">
        <section class="table">
            <div class="sidesWrapper">
                <div class="leftDiv">
                    <div style="padding: 20px; margin-top: 10px;">
                        <h5> How to view Contributions of Features </h5>
                        <div style="width:70%; margin-bottom: 170px; width: 100%;">
                            <select class="form-control" id="presentation_type" name="presentation_type"
                                style="background: -webkit-linear-gradient(top, #a5e7e7, #00BFFF);"
                                onchange="this.form.submit()">
                                {% if form.presentation_type == "Percents" %}
                                <option class="bckcoloroption" selected value="Percents">Percentage of Contributions
                                    Per Row</option>
                                <option class="bckcoloroption" value="Values">Contribution Value</option>
                                {% else %}
                                <option class="bckcoloroption" value="Percents">Percentage of Contributions Per Row
                                </option>
                                <option class="bckcoloroption" selected value="Values">Contribution Value</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="centerDiv div-style-font">
                    <div>
                        <div style="max-width: 100%;">
                            <div class="form-control" style="width: 60%; font-weight: 600;">Patient ID: &emsp; 2</div>
                            <!-- <div style="width: 70%; text-align: center; padding: 5px;"></div> -->
                        </div>
                        <div style="max-width: 100%; margin-top: 15px;">
                            <div class="form-control" style="width: 60%; height: 10%; font-weight: 600;">Age: &emsp; 20-30</div>
                            <!-- <div style="width: 70%; text-align: center; padding:  5px;">20 - 30</div> -->
                        </div>
                        <div class="form-control" style="margin-top: 15px; font-weight: 600; width: 80%;">Diabetes Predicted: &ensp; Yes</div>
                    </div>
                    <div class="form-control" style="margin-top: 35px; width: 80%; height: 20%; font-weight: 600;">
                        Prediction or Confidence Score (Out of 100): &ensp; 75
                    </div>
                </div>
                <div class="rightDiv">
                    <table class="patientsTable">
                        <thead>
                            <th>

                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <div style="display: flex; justify-content: space-between;"></div>
        <div style="margin-top: 10px; margin-bottom: 10px; margin-left: 15px; padding: 12px;"><a
                class="btn-solid-lg page-scroll" href="{{ url_for('demo.explanations_summary') }}"
                style='font-size: 120%;'>Go
                Back</a>
        </div>
    </div>
    </section>
    </div>
</main>
{{ form.all_case_values_query_for_patient }}
</form>

{% endblock %}

{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
{% endblock %}