{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/css/explan_summary.css">
{% endblock %}

{% block content %}
<!-- Header -->

<!-- <div class="container" style="margin-bottom: 0%; margin-left: 0%;"></div> -->
<div class="ex-header-top-main bck" title='Financial – Assessing {{ form.subdomain.name }} '>
  Financial – Assessing {{ form.subdomain.name }}
</div>
  <!-- Flash Messages BEGIN -->
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismisible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
  <!-- Flash Messages END -->
<form class="form" role="form" action="{{ url_for('demo.financial_explan_summary') }}" method="post">
  <main>
    <div style="width: 100%;">
      <section class="table">
        <div class="sidesWrapper">
          <div class="leftDiv">
            <div style="padding: 38px;">
              <h5>How to view Contributions: </h5>
              <div style="width:70%; margin-bottom: 170px; width: 100%;">
                <select class="form-control" id="presentation_type" name="presentation_type"
                  style="background: -webkit-linear-gradient(top, #a5e7e7, #00BFFF);" onchange="this.form.submit()">
                  {% if form.presentation_type == "Percents" %}
                  <option class="bckcoloroption" selected value="Percents">Percentage of Contributions Per Row</option>
                  <option class="bckcoloroption" value="Values">Contribution Value</option>
                  {% else %}
                  <option class="bckcoloroption" value="Percents">Percentage of Contributions Per Row</option>
                  <option class="bckcoloroption" selected value="Values">Contribution Value</option>
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
          <div class="rightDiv">
            <div style="padding: 8px;">
              <header>
                <h5>Credit Score: View Explanations (Summary)</h5>
              </header>
              <div>
                <span class="prediction">Prediction Score & Category Contributions:</span>
                <!-- <button class="explanationsButton">Explanations</button> -->
              </div>
            </div>
            <table id="patientsTable" class="patientsTable table table-striped table-sm">
              <thead>
                {% for head in form.table_heads %}
                <th style="text-align: center;">{{head}}</th>
                {% endfor %}
              </thead>
              <tbody style="text-align: center;">
                {% for row in form.table_rows %}
                <tr>
                  <td style="background-color: {{row[0][1]}};"><a style="color: #F0E68C;" href="{{url_for('demo.financial_explan_per_client', case_id=row[0][0])}}">{{row[0][0]}}</a></td>
                  {% for cell in row[1:] %}
                  {% if cell[1] %}
                  <td style="background-color: {{cell[1]}};">{{cell[0]}}</td>
                  {% else %}
                  <td >{{cell[0]}}</td>
                  {% endif %}
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div style="display: flex; justify-content: space-between;"></div>
          <div style="margin-top: 10px; margin-bottom: 10px; margin-left: 15px; padding: 12px;"><a
              class="btn-solid-lg page-scroll" href="{{ url_for('demo.categories') }}" style='font-size: 120%;'>Go Back</a>
          </div>
        </div>
      </section>
    </div>
  </main>
</form>

{% endblock %}

{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
{% endblock %}