{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/css/explanations_per_patient.css">
{% endblock %}

{% block content %}
<!-- Header -->
<style>
.maincontainer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.topcontainer {
   display: flex;
   text-align: center;
   margin-top: 15px;
   margin-left: 62vh;
   height: 10%;
 }

.centercontainer  {
    margin-left: 62vh;
    margin-top: 30px;
    height: 10%;
    font-size: 130%;
 }
 /* .topcontainer .centercontainer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
 } */

.bottomcontainer  {
    max-width: 100%;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

.leftblock {
    /* margin-right: 90vh; */
    max-width: 30%;
    width: 30%;
  }

.rightblock {
    margin-left: 15vh;
    max-width: 80%;
    width: 70%;
    margin-bottom: 30px;
  }

.clientTable {
    background-color: rgb(243, 243, 232);
    border: 3px solid #00BFFF;
}

.footer-buttons{
  display: flex;
  justify-content: space-between;
}

.rons_block {
  width: 100vh;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
</style>
<div class="ex-header-top-main bck" title='Financial – Assessing {{ form.subdomain.name }} '>
  Financial – Assessing {{ form.subdomain.name }}
</div>
      <!-- Flash Messages BEGIN -->
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismisible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<!-- Flash Messages END -->
<form class="form" role="form" action="{{ url_for('demo.financial_explan_per_client', case_id=form.case_id) }}"
  method="post">
  <main>
    <div style="width: 100%;">
      <section class="table">
        <div>
          <div>
            <h4>
              <b>Credit Score: View Explanations</b>
            </h4>
          </div>
          <div class="rons_block">
            <div style="margin-left: 30px;">
              <h5>Ron’s Scores</h5>
            </div>
            <div>
              <h5>Average Default Score:  {{average_default_score}}</h5>
            </div>
            <div>
              <h5>Ron’s Score: {{total_score_name_client}}</h5>
            </div>
          </div>
          <div class="bottomcontainer">
            <div class="rightblock">
              <table class="clientTable">
              <thead style="text-align: left;">
                <th>Characteristics</th>
                <th>Attributes</th>
                <th>Contributions</th>
              </thead>
              <tbody style="background-color: #FFFAFA; color: rgb(32, 28, 20); text-align: left;">

                <tr>
                  {% for cell in form.age_table_row %}
                    <td>
                      {{cell}}
                    </td>
                  {% endfor %}
                </tr>

              {% for row in form.table_rows %}
                <tr>
                    {% if row[1] == "" %}
                    {% for cell in row %}
                    <td><b>{{cell}}</b></td>
                    {% endfor %}
                    {% else %}
                    {% for cell in row %}
                    <td>{{cell}}</td>
                    {% endfor %}
                    {% endif %}
                </tr>
              {% endfor %}
              </tbody>
               </table>
            </div>
          </div>
        </div>
        <div class="footer-buttons">
          <div style="padding: 20px;"><a
            class="btn-solid-lg page-scroll" href="{{ url_for('demo.financial_explan_summary') }}"
            style='font-size: 135%;'>Go Back</a>
          </div>
          <div style="padding: 20px;"><a
            class="btn-solid-lg page-scroll" href="{{ url_for('demo.financial_explan_2_per_client', case_id=form.case_id) }}"
            style='font-size: 135%;'>Next</a>
          </div>
          <!-- <div style="margin-top: 100px; padding: 20px;">{{ form.next(class="btn-solid-lg page-scroll", style="width: 250px; font-size: 150%;") }}</div> -->
        </div>
      </section>
    </div>
  </main>
  <!-- {{ form.all_case_values_query_for_patient }} -->
</form>
<!-- </div> -->
{% endblock %}

{% block scripts %}
{% endblock %}