{% extends "base.html" %}
{% block content %}
<!-- Header -->

<div id="header" class="ex-header"></div>
<div class="container" style="margin-bottom: 5%; margin-left: 0%;">
    <div class="ex-header-top-main" style="padding: 15px; text-align: left;
    font-family: 'serif';
    width: 1318px;
    color: #FFF5EE;
    font-style: normal;
    font-size: 250%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: -webkit-linear-gradient(top, #a5e7e7, #00BFFF);" title='Healthcare – {{ form.subdomain.name }} Diagnosis'>
        Healthcare – {{ form.subdomain.name }} Diagnosis
    </div>
    <h5>
        Select (keep) only relevant attributes:
    </h5>
    <h5>
        Summarized for all patients, the attributes are listed from having the highest to lowest predictive power:
    </h5>
    <form class="form" role="form" action="{{ url_for('demo.select_features') }}" method="post">
        {{ form.csrf_token }}
    <table class="ex-header_table" cellspacing="1" style="margin-bottom: 20%;
    border: 3px outset lightskyblue; background: #FFFAFA; width: 118.8%; border-collapse: collapse;" height="520">
        <thead>
            <th scope="col" style="text-align:center; padding: 4px;">Select Relevant</th>
            <th scope="col" style="text-align:center;">Features</th>
            <th scope="col" style="text-align:center; font-size: 100%;">Predictive Power</th>
        </thead>
        <tbody>
            <tr><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td></tr>
            {% for feature in features %}
            <tr>
                {% if feature.name == 'Age' %}
                <td style="text-align:center;"><div><input class="form-control" type="checkbox"  checked name="{{feature.name}}" onclick="return false;"></div></td>
                <td style="text-align:justify;"><div class="form-control">{{feature.name}}</div></td>
                <td><div class="form-control" style="text-align: center;">{{pred_pow[feature.name]}}</div></td>
                {% else %}
                <td style="text-align:center;"><div><input class="form-control" type="checkbox" name="{{feature.name}}"></div></td>
                <td style="text-align:justify;"><div class="form-control">{{feature.name}}</div></td>
                <td><div class="form-control" style="text-align: center;">{{pred_pow[feature.name]}}</div></td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr><td></td><td colspan="2"><div style="margin-top: 10px; margin-bottom: 10px;"><h5>Outcome: {{ form.subdomain.name }} Diagnosis or Not</h5></div></td></tr>
            <tr><td></td>
                <td><div style="margin-top: 10px; margin-bottom: 10px;"><a class="btn-solid-lg page-scroll" href="{{ url_for('demo.demo') }}" style="font-size: 120%;">Go Back</a></div></td>
                <td><div style="margin-top: 10px; margin-bottom: 10px;">{{ form.next(class="btn-solid-lg page-scroll", style="width: 250px; font-size: 150%;") }}</div></td>
            </tr>
        </tbody>
    </table>
    </form>
</div>
{% endblock %}
